{%extends 'base.html' %}
{% block content %}
<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-md-3 panel sticky-top"  style="padding: 0!important;">
                <nav class="navbar navbar-expand-md navbar-light bg-light">
                    <div class="container-fluid">
                        <a href="{% url 'home:home' %}" class="navbar-brand d-md-none" style="font-family: 'PT Serif',Serif;">Gourab Sinha</a>
                        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav nav-pills flex-column">
                                <li class="nav-item mt-3">
                                    <a href="{% url 'home:home' %}" class="nav-link font-weight-bold text-dark" style="font-family: 'PT Serif',Serif;">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'workExperience:workExperience' %}" class="nav-link font-weight-bold text-dark" style="font-family: 'PT Serif',Serif;">Work Experience</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" style="font-family: 'PT Serif',Serif;">Software Engineer @ Odessa</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" style="font-family: 'PT Serif',Serif;">Software Engineer Intern @ Odessa</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" style="font-family: 'PT Serif',Serif;">Online Teaching Assistant @ Coding Ninjas</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
        </div>
{% endblock content %}
