{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container-fluid">
      <div class="row no-gutters">
        <div class="col-md fixed panel">
            <div class="sticky-top">
                <img src="https://images.unsplash.com/photo-1536148935331-408321065b18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" style="height: 100vh; width: 100%" alt="My Image">
            </div>
        </div>
        <div class="col-md panel">
            <div class="text-center mt-5">
                <div style="font-family: 'PT Serif', serif" class="display-3 my-3 mx-3">Gourab Sinha</div>
                <div class="display-5 mx-5 text-secondary">First and foremost, I love writing code. Since my first program to print "Hello World" to produce the desired output for problems, I have been obsessed with the thought of solving practical problems using software. Software Engineering is one of the puzzles that has no end, where my interest comes. Each day solve one problem and the next day another problem comes, that makes me engage passionately. I believe programming has the capacity to transform and improve the lives of people around the globe.</div>
            </div>
            <div class="text-center panel">
                <div class="btn" style="font-family: 'PT Serif', serif">
                    <a href="#" class="btn btn-primary btn-rounded btn-md btn-block mt-5" style="height: 75%;">Work Experience</a>
                    <a href="#" class="btn btn-primary btn-rounded btn-md btn-block mt-5" style="height: 75%;">Projects</a>
                    <a href="#" class="btn btn-primary btn-rounded btn-md btn-block mt-5" style="height: 75%;">Certificates</a>
                    <a href="#" class="btn btn-primary btn-rounded btn-md btn-block mt-5" style="height: 75%;">Skills</a>
                    <a href="#" class="btn btn-primary btn-rounded btn-md btn-block mt-5" style="height: 75%;">Achievements</a>
                    <a href="#" class="btn btn-primary btn-rounded btn-md btn-block mt-5" style="height: 75%;">Resume</a>
                </div>
                <div class="d-md-block mt-4 mb-5">
                    <a href="https://twitter.com/gourab19964u" class="text-black mx-2">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/gourabsinha/" class="text-black mx-2">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="https://github.com/gourab-sinha" class="text-black mx-2">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://www.instagram.com/gourab__sinha" class="text-black mx-2">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="mailto:gourab19964u@gmail.com" class="text-black mx-2">
                        <i class="fas fa-envelope"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}