{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'workExperience/styles.css' %}">
        <div class="col-md-9" style="padding: 0!important;">
            <div class="d-flex flex-column">
                <img style="max-width: 100%;" src="{% static 'workExperience/workHeader.jpeg' %}" alt="" class="img-responsive border border-light">
                <div class="row no-gutters">
                    <div class="col-md-6 text-center">
                        <div class="card shadow" style="width:100%;">
                            <div class="hovereffect">
                                <img style="width: 100%" src="{% static 'workExperience/odessasdeintern.png' %}" alt="" class="img-responsive border border-light">
                                <div class="overlay">
                                    <div class="hover-body-content">
                                        Software Engineer @ Odessa
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card shadow" style="width:100%;">
                            <div class="hovereffect">
                                <img style="width: 100%" src="{% static 'workExperience/odessasdeintern.png' %}" alt="" class="img-responsive border border-light">
                                <div class="overlay">
                                    <div class="hover-body-content">
                                        Software Engineer Intern @ Odessa
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <div class="card shadow" style="width:100%;">
                            <div class="hovereffect">
                                <img style="width: 100%" src="{% static 'workExperience/cntaship.png' %}" alt="" class="img-responsive border border-light">
                                <div class="overlay">
                                    <div class="hover-body-content">
                                        Online Teaching Assistant @ Coding Ninjas
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
<!--                        <img style="width: 100%" src="{% static 'workExperience/odessasdeintern.png' %}" alt="" class="img-responsive border border-light">-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>