{% include 'navbar.html' %}
{% load static %}
        <div class="col-md-9" style="padding: 0!important;">
            <div class="d-flex flex-column">
                <img style="max-width: 100%;" src="{% static 'workExperience/workHeader.jpeg' %}" alt="" class="img-responsive border border-light">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <img style="width: 100%" src="https://source.unsplash.com/random/820x360" alt="" class="img-responsive border border-light">
                    </div>
                    <div class="col-md-6">
                        <img style="width: 100%" src="https://source.unsplash.com/random/820x360" alt="" class="img-responsive border border-light">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>