{% include 'navbar.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        <div class="col-md-9" style="padding: 0!important;height: 100vh;overflow: auto;scroll-behavior: smooth;">
            <a href="#gotop" id="button"><i class="fa fa-chevron-up"></i></a>
            <div id="gotop" class="d-flex flex-column">
                <img style="max-width: 100%;max-height: 360px;overflow-y: hidden;" src="https://images.unsplash.com/photo-1462536943532-57a629f6cc60?ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80" alt="" class="img-responsive border border-light">
                <div class="row no-gutters">
                    <div class="col-md-6 text-center">
                        <div class="card shadow" style="width:100%;">
                            <div class="hovereffect">
                                <img style="width: 100%" src="{% static 'certifications/javabasic.png' %}" alt="" class="img-responsive border border-light">
                                <div class="overlay">
                                    <div class="hover-body-content">
                                        <div class="d-flex flex-column">
                                            <div class="title">Java Basic</div>
                                            <button style="color: white" class="btn btn-link" data-toggle="modal" data-target="#javabasic">See More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card shadow" style="width:100%;">
                            <div class="hovereffect">
                                <img style="width: 100%" src="{% static 'certifications/restapi.png' %}" alt="" class="img-responsive border border-light">
                                <div class="overlay">
                                    <div class="hover-body-content">
                                        <div class="d-flex flex-column">
                                            <div class="title">REST API</div>
                                            <button style="color: white" class="btn btn-link" data-toggle="modal" data-target="#restapi">See More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <div class="card shadow" style="width:100%;">
                            <div class="hovereffect">
                                <img style="width: 100%" src="{% static 'certifications/problemsolvingbasic.png' %}" alt="" class="img-responsive border border-light">
                                <div class="overlay">
                                    <div class="hover-body-content">
                                        <div class="d-flex flex-column">
                                            <div class="title">Problem Solving Basic</div>
                                            <button style="color: white" class="btn btn-link" data-toggle="modal" data-target="#problemsolvingbasic">See More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card shadow" style="width:100%;">
                            <div class="hovereffect">
                                <img style="width: 100%" src="{% static 'certifications/pythonbasic.png' %}" alt="" class="img-responsive border border-light">
                                <div class="overlay">
                                    <div class="hover-body-content">
                                        <div class="d-flex flex-column">
                                            <div class="title">Problem Solving Basic</div>
                                            <button style="color: white" class="btn btn-link" data-toggle="modal" data-target="#pythonbasic">See More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-md-6 text-center">
                        <div class="card shadow" style="width:100%;">
                            <div class="hovereffect">
                                <img style="width: 100%" src="{% static 'certifications/ds&mlexcellence.png' %}" alt="" class="img-responsive border border-light">
                                <div class="overlay">
                                    <div class="hover-body-content">
                                        <div class="d-flex flex-column">
                                            <div class="title">Data Science and Machine Learning Excellence</div>
                                            <button style="color: white" class="btn btn-link" data-toggle="modal" data-target="#ds&mlexcellence">See More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card shadow" style="width:100%;">
                            <div class="hovereffect">
                                <img style="width: 100%" src="{% static 'certifications/ds&mlcomplete.png' %}" alt="" class="img-responsive border border-light">
                                <div class="overlay">
                                    <div class="hover-body-content">
                                        <div class="d-flex flex-column">
                                            <div class="title">Data Science and Machine Learning Completion</div>
                                            <button style="color: white" class="btn btn-link" data-toggle="modal" data-target="#ds&mlcomplete">See More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <div class="card shadow" style="width:100%;">
                            <div class="hovereffect">
                                <img style="width: 100%" src="{% static 'certifications/taship.png' %}" alt="" class="img-responsive border border-light">
                                <div class="overlay">
                                    <div class="hover-body-content">
                                        <div class="d-flex flex-column">
                                            <div class="title">Online Teaching Assistant</div>
                                            <button style="color: white" class="btn btn-link" data-toggle="modal" data-target="#taRole">See More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card shadow" style="width:100%;">
                            <div class="hovereffect">
                                <img style="width: 100%" src="{% static 'certifications/udacitynano.png' %}" alt="" class="img-responsive border border-light">
                                <div class="overlay">
                                    <div class="hover-body-content">
                                        <div class="d-flex flex-column">
                                            <div class="title">Udacity Full Stack Nano Degree</div>
                                            <button style="color: white" class="btn btn-link" data-toggle="modal" data-target="#taRole">See More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-md-6 text-center">
                        <div class="card shadow" style="width:100%;">
                            <div class="hovereffect">
                                <img style="width: 100%" src="{% static 'certifications/btech.png' %}" alt="" class="img-responsive border border-light">
                                <div class="overlay">
                                    <div class="hover-body-content">
                                        <div class="d-flex flex-column">
                                            <div class="title">Bachelor of Technology</div>
                                            <button style="color: white" class="btn btn-link" data-toggle="modal" data-target="#btech">See More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
